.contact-container {
    margin: 4rem 0;
    position: relative;
}

.contact-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.contact-content {
    display: flex;
    gap: 3rem;
}

.social-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;

}
.card-logo {
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    background: #3d3072;
    align-items: center;
    text-align: center;
    padding: 0.7rem 1rem 0.7rem 0.75rem;
}
.card-logo .social {
    width: 2.5rem;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column-reverse;
    }

    .contact-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}