.about-me-container {
    background: #130f2a;
    border-radius: 0.65rem;
    border: 3.5px solid #6751b9bb;
    padding: 1.5rem;
    margin: 0.6rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-me-container p {
    text-indent: 10px;
    line-height: 1.3rem;
    padding: 0.2rem;
}